h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: rgb(255, 109, 121);
}

canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(169, 95, 204);}
    to {box-shadow: 1px 1px 38px rgb(135, 207, 241);}
}